.profile-description {
    padding: 10vh 5vw;
}

.rating {
    display: flex;
    flex: row;
}

.up-content {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tag {
    margin: 5vh 0;
}

.icn-wrap {
    margin: 0.5vw;
}

.ind-content {
    margin-top: 0.3vw;
}

.tag-wrap {
    display: flex;
    flex-direction: row;
}

