.formReg {
    padding: 5vh 5vw;
}

.btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-upload.ant-upload-drag {
    height: 70vh;
}

.selection-wrap {
    display: flex;
    height: 15vh;
    flex-direction: column;
    justify-content: space-between;
}