.promote-banner {
    height: 93vh;
    background-color: #EDF5F8;
}

.promote-banner-contest {
    height: 93vh;
    background-color: #EDF5F8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.image-bg{
    width: 96vw;
    z-index: 1;
    position: absolute;
}
.image-bg-rekomendasi{
    width: 50vw;
    z-index: 4;
    margin-left: 700px;
    margin-top: 100px;
    position: absolute;
}
.image-bg-person{
    width: 90vw;
    z-index: 1;
    margin-left: 60px;
    margin-top: 140px;
    position: absolute;
}
.ads-content {
    padding: 20vh 5vw;
    width: 50vw;
}

.ads-content-contest {
    padding: 20vh 5vw;
    width: 60vw;
}

.ads-content-contest-2 {
    padding: 79vh 5vw;
    width: 65vw;
}

.wrapper {
    width: 30vw;
    margin-bottom: 5vh;
}

.wrapper-contest {

    margin-bottom: 5vh;
}

