.promote-banner {
    height: 80vh;
    background-color: #EDF5F8;
}

.image-bg{
    width: 100vw;
    z-index: 1;
    position: absolute;
}

.ads-content {
    padding: 20vh 5vw;
    width: 50vw;
}

.wrapper {
    width: 30vw;
    margin-bottom: 5vh;
}

