@font-face {
    font-family: "Nunito";
    font-style: normal;
    src: local("Nunito"), url(../../assets/fonts/Nunito/Nunito-Regular.ttf);
}

@font-face {
    font-family: "PtSans";
    font-style: normal;
    src: local("PtSans"), url(../../assets/fonts/PtSans/PTSans-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    src: local("Roboto"), url(../../assets/fonts/Roboto/Roboto-Regular.ttf);
}

.button-warna{
    position: absolute;
    padding-left: 10px;
    margin-top: 0px;
    width: 160px;
    height: 54px;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border: none;
    background: #0020da;
    font-family: "Nunito"; 
    color: white;
    box-shadow: 0px 5px 8px rgba(0,24,166,0.25);
    border-radius: 8px;
    cursor: pointer;
}