@import '~antd/dist/antd.css';
@font-face {
  font-family: "Nunito";
  font-style: normal;
  src: local("Nunito"), url(assets/fonts/Nunito/Nunito-Regular.ttf);
}

@font-face {
  font-family: "PtSans";
  font-style: normal;
  src: local("PtSans"), url(assets/fonts/PtSans/PTSans-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  src: local("Roboto"), url(assets/fonts/Roboto/Roboto-Regular.ttf);
}

.menuBar {
  display: flex;
  align-items: center;
  padding: 0 35px;
  border-bottom: solid 1px #e8e8e8;
  padding-left: 20px;
  padding-right: 20px;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
}

.logo {
  width: 150px;
  float: left;
}

.logo img {
  width: 146px;
  height: 105px;
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
  text-transform: capitalize;
}

.menuCon {
  padding-left: 220px;
  padding-right: 120px;
  width: calc(100% - 150px);
  float: left;
}

.menuCon .ant-menu-item {
  margin-left: 80px;
}

/* .menuCon .ant-menu-submenu-title {
  padding: 10px 10px;
} */

/* .menuCon .ant-menu-item a, .menuCon .ant-menu-submenu-title a {
  padding: 10px 7px;
} */

.menuCon .ant-menu-horizontal {
  border-bottom: none;
}

.menuCon .leftMenu {
  float: left;
}

.menuCon .rightMenu {
  float: right;
}

.barsMenu {
  float: right;
  height: 32px;
  padding: 8px;
  margin-top: 8px;
  display: none;
  background: none;
}

.barsBtn {
  display: block !important;
  width: 20px;
  height: 2px;
  background: #1890ff;
  position: relative;
}

.ant-menu-item.ant-menu-item-active {
  border: none !important;
}

.ant-menu-submenu.ant-menu-submenu-active {
  border: none !important;
}

.ant-menu-submenu.ant-menu-submenu-horizontal {
  margin-left: 80px;
  border: none !important;
}

.ant-menu-item {
  border: none !important;
}

.barsBtn:after, .barsBtn:before {
  content: attr(x);
  width: 20px;
  position: absolute;
  top: -6px;
  left: 0;
  height: 2px;
  background: #1890ff;
}

.barsBtn:after {
  top: auto;
  bottom: -6px;
}

/* .ant-drawer-body {
  padding: 0;
}

.ant-drawer-body .ant-menu-horizontal>.ant-menu-item, .ant-drawer-body .ant-menu-horizontal>.ant-menu-submenu {
  display: inline-block;
  width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal>.ant-menu-item:hover {
  border-bottom-color: transparent;
} */

@media(max-width: 1201px) {
  .menuCon {
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 150px);
    float: left;
  }
  .ant-menu-submenu.ant-menu-submenu-horizontal {
    padding: 0px 5px;
    margin-left: 80px;
  }
}

@media(max-width: 1062px) {
  .menuCon {
    padding-left: 30px;
    padding-right: 10px;
    width: calc(100% - 150px);
    float: left;
  }
  .ant-menu-submenu.ant-menu-submenu-horizontal {
    padding: 0px 5px;
    margin-left: 30px;
  }
}

@media(max-width: 918px) {
  .menuCon .ant-menu-item {
    padding: 0px 5px;
    padding-left: -10px;
  }
  .menuCon {
    padding-left: 1px;
    padding-right: 1px;
    width: calc(100% - 10px);
    float: left;
  }
  .ant-menu-submenu {
    padding: -1px 1px;
  }
}

@media(max-width: 1400px) {
  .menuCon {
    padding-left: 60px;
    padding-right: 10px;
    width: calc(100% - 150px);
    float: left;
  }
  .ant-menu-submenu.ant-menu-submenu.ant-menu-submenu-horizontal {
    padding: 0px 5px;
    margin-left: 70px;
  }
}

@media(max-width: 767px) {
  .barsMenu {
    display: inline-block;
  }
  .leftMenu, .rightMenu {
    display: none;
  }
  .logo img {
    margin-left: -20px;
  }
  .menuCon .ant-menu-item, .menuCon .ant-menu-submenu-title {
    padding: 1px 15px;
  }
  .logo img {
    padding: 10px 20px;
  }
  .menuCon {
    margin-top: 30px;
  }
  .menuBar {
    padding: 0 30px;
  }
}

.home-banner {
  text-transform: uppercase;
  background-image: url(./assets/img/hero.png);
  background-size: 100% 99.3%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

/* footer */

footer {
  z-index: 9;
  clear: both;
  margin-left: -1px;
  color: white;
  font-size: 16px;
  background-color: #989898;
  width: 100%;
  bottom: 0;
}

footer .footer-wrap {
  border: 1px solid red;
  position: relative;
  margin: auto;
  padding-left: 87px;
  padding-right: 87px;
  padding-top: 64px;
  padding-bottom: 45px
}

footer .footer-wrap .footer-intro {
  border: 1px solid red;
}

footer .footer-wrap .footer-intro .footer-logo {
  width: 192px;
  height: 44px;
}

footer .footer-wrap .footer-intro .footer-title {
  font-family: "PtSans";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  margin-top: 13px;
}

footer .footer-wrap .footer-intro .footer-deskripsi {
  margin-top: 40px;
  margin-bottom: 133px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

footer .footer-wrap .footer-about {
  border: 1px solid red;
  margin-left: 137px;
}

footer .footer-wrap .footer-about .footer-desain {
  margin-top: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

footer .footer-wrap .footer-about .footer-tentang {
  margin-top: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

footer .footer-wrap .footer-about .footer-bantuan {
  margin-top: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

footer .footer-wrap .footer-about .footer-kontak {
  margin-top: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

footer .footer-wrap .footer-about .footer-kontes {
  margin-top: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

footer .footer-wrap .footer-about .footer-portofolio {
  margin-top: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

footer .footer-wrap .footer-menu {
  border: 1px solid red;
  margin-left: 59px;
}

footer .footer-wrap .footer-menu .footer-tanya {
  margin-top: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

footer .footer-wrap .footer-menu .footer-menu-kontes {
  margin-top: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

footer .footer-wrap .footer-menu .footer-menu-pesan {
  margin-top: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

footer .footer-wrap .footer-menu .footer-menu-portofolio {
  margin-top: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

footer .footer-wrap .footer-kontes-atas {
  border: 1px solid red;
  margin-left: 36px;
}

footer .footer-wrap .footer-kontes-atas .footer-display-kontes {
  margin-top: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

footer .footer-wrap .footer-kontes-atas .footer-item-kontes {
  margin-top: 24px;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer .footer-wrap .footer-kontes-atas .footer-item-kontes .gambar-kontes {
  border: 1px solid red;
  width: 50px;
  height: 50px;
}

footer .footer-wrap .footer-kontes-atas .footer-item-kontes .judul-center {
  margin-left: 16px;
}

footer .footer-wrap .footer-kontes-atas .footer-item-kontes .judul-center .judul-kontes {
  border: 1px solid red;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: white;
}

footer .footer-wrap .footer-kontes-atas .footer-item-kontes .judul-center .nama-pembuat {
  font-family: "PtSans";
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
}

footer .footer-wrap .footer-kontes-atas .footer-item-kontes2 {
  margin-top: 24px;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer .footer-wrap .footer-kontes-atas .footer-item-kontes2 .gambar-kontes {
  border: 1px solid red;
  width: 50px;
  height: 50px;
}

footer .footer-wrap .footer-kontes-atas .footer-item-kontes2 .judul-center {
  margin-left: 16px;
}

footer .footer-wrap .footer-kontes-atas .footer-item-kontes2 .judul-center .judul-kontes {
  border: 1px solid red;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: white;
}

footer .footer-wrap .footer-kontes-atas .footer-item-kontes2 .judul-center .nama-pembuat {
  font-family: "PtSans";
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 10px;
}

footer .footer-wrap .author {
  margin-left: 44%;
  border: 1px solid red;
}