.halfHero {
    background-color: #edf5f8;
    height: 50vh;
}

.halfHeroImage {
    height: 50vh;
    position: absolute;
}

.heroContent {
    margin-top: 15vh;
}

.formReg {
    padding: 5vh 7vw;
}