
.card-portfolio {
    width: 20vw;
    height: 43vh;
    border-radius: 30px; 
    background-color: white;
    box-shadow:  0px 5px 8px rgba(158, 158, 158, 0.25);
}


.card-contest {
    width: 25vw;
    height: 53vh;
    border-radius: 30px; 
    background-color: white;
    box-shadow:  0px 5px 8px rgba(158, 158, 158, 0.25);
}

.card-content {
    padding: 1vh 1vw;
}

.image-cover {
    height: 25vh;
    border-radius: 30px 30px 0 0;
}

.image-cover-contest {
    height: 35vh;
    border-radius: 30px 30px 0 0;
}

.img {
    width: 20vw;
    height: 25vh;
    object-fit: cover;
    border: none;
    border-radius: 30px 30px 0 0;
}

.img-contest {
    width: 25vw;
    height: 35vh;
    object-fit: cover;
    border: none;
    border-radius: 30px 30px 0 0;
}

.card-action {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin-top: 2vh;
}

.icn-wrap {
    margin: 0.5vw;
}

.indicator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 2vh;
}

.ind-content {
    margin-top: 0.3vw;
}

.like {
    margin-left: 1vw;
}
